@{
    this.ViewData["Title"] = "Контакти";
}

<div class="page-top-info">
    <div class="container">
        <h4>Контакти</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Контакти</a>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        @*<div id="map" class="map"></div>*@
        <div class="row">
            <div class="col-lg-5 contact-info">
                <h3>Свържете се с нас</h3>
                <p>София, България</p>
                <p>+555 55555 555</p>
                <p>merchain@yopmail.com</p>
                <div class="contact-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
            <div class="col-lg-5 contact-info mb-3">
                <h3>Пишете ни имейл</h3>
                <form method="post" class="contact-form" asp-controller="Info" asp-action="SendEmailToUs">
                    <input type="text" name="Name" placeholder="Вашето Име">
                    <input type="text" name="Email" placeholder="Вашият Имейл">
                    <input type="text" name="Subject" placeholder="Относно">
                    <textarea name="Content" placeholder="Съобщение"></textarea>
                    <button class="site-btn" type="submit">Изпрати</button>
                </form>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
        <script>
            function initMap() {
                var uluru = { lat: 42.694307, lng: 23.322028 };

                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 9, center: uluru });

                var marker = new google.maps.Marker({ position: uluru, map: map });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOMmUNc_2sEzA8qER9eezLZ-qk1Dgd-5s&callback=initMap">
        </script>
    }*@