@{
    this.ViewData["Title"] = "Contact Us";
}

<div class="page-top-info">
    <div class="container">
        <h4>Contact Us</h4>
        <div class="site-pagination">
            <a href="">Home</a> /
            <a href="">Contact Us</a>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div id="map" class="map"></div>
        <div class="row">
            <div class="col-lg-6 contact-info mb-3">
                <h3>Get in touch</h3>
                <p>Sofia, Bulgaria</p>
                <p>+555 55555 555</p>
                <p>merchain@yopmail.com</p>
                <div class="contact-social">
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
                <form method="post" class="contact-form" asp-controller="Info" asp-action="SendEmailToUs">
                    <input type="text" name="Name" placeholder="Your name">
                    <input type="text" name="Email" placeholder="Your e-mail">
                    <input type="text" name="Subject" placeholder="Subject">
                    <textarea name="Content" placeholder="Message"></textarea>
                    <button class="site-btn" type="submit">SEND NOW</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function initMap() {
            var uluru = { lat: 42.694307, lng: 23.322028 };

            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 9, center: uluru });

            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOMmUNc_2sEzA8qER9eezLZ-qk1Dgd-5s&callback=initMap">
    </script>
}