@{
    this.ViewData["Title"] = "Контакти";
}

<div class="page-top-info">
    <div class="container">
        <h4>Контакти</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Контакти</a>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 contact-info">
                <h3>Свържете се с нас</h3>
                <p>codinglife@gmail.com</p>
                <div class="contact-social">
                    <p>Следи ни и в социалните мрежи:</p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/bgcoding.life"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-5 contact-info mb-3">
                <h3>Пишете ни имейл</h3>
                <form method="post" class="contact-form" asp-controller="Info" asp-action="SendEmailToUs">
                    <input type="text" name="Name" placeholder="Вашето Име">
                    <input type="text" name="Email" placeholder="Вашият Имейл">
                    <input type="text" name="Subject" placeholder="Относно">
                    <textarea name="Content" placeholder="Съобщение"></textarea>
                    <button class="site-btn" type="submit">Изпрати</button>
                </form>
            </div>
        </div>
    </div>
</section>