@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="page-top-info">
    <div class="container">
        <h4>Privacy Policy</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Info" asp-action="PrivacyPolicy">Home</a> /
            <a>Privacy Policy</a>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <h3>Privacy Policy</h3>
    <div class="row mt-3">
        <p>
            Whether you are a private customer or a company, your choice of us as a brand is based on trust. Protecting that trust is important to us in everything we do, also in the privacy and data protection area.
            Questions about privacy and data protection and how we as a company will handle information about you as a customer becomes increasingly complex and important as e-commerce grows and become a daily rutine for many. In line with that trend, more and more people are sometimes aware of anxiety, but above all curiosity, about how information about them is handled.
            We strongly believe to be completely transparent to you as a customer and to always tell the truth about how personal information will be handled and how we reason when we take a stand on questions about privacy and data protection issues. That's why we have gathered information on this page, to understand our decisions and to feel safe with how we handle the issues.
            For us it´s not so complicated - it can easily be summarized in four key points:
            <ul>
                <li>We handle you and all the information about you with great respect, confidentiality and caution, and constantly consider risk-conscious about how we can protect your privacy in how we design our services and systems.</li>
                <li>We only provide the information necessary about you to the companies involved in delivering your order, handling your payment and the transport to your home, for example your telephone number in case there is any problem with delivering your order.</li>
                <li>You are entitled to request a registry extract at any time from the information we collected about you. You also have the right to have your details changed or deleted if desired.</li>
                <li>We are always open to your thoughts and opinions. Please contact us by email, facebook or instagram if you feel the least unsure of anything or have questions to us. Our door is always open for you!</li>
            </ul>
            <br/>
            The very reason for our commitment to privacy and data protection comes from our respect for you as a customer and the confidence you have put in us.
        </p>
    </div>
</div>