<nav class="main-navbar">
    <div class="container">
        <ul class="main-menu">
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Products" asp-action="Index">Products Admin Panel</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Categories" asp-action="Index">Categories Admin Panel</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Orders" asp-action="Index">Review All Orders</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="PromoCodes" asp-action="Index">Manage Promo Codes</a>
            </li>
        </ul>
    </div>
</nav>