@using Merchain.Common
@using Merchain.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="up-item">
        <i class="flaticon-profile"></i>
        <a asp-area="Identity" asp-page="/Account/Manage/Index">Hello @(this.User.Identity.Name)!</a>
    </div>
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="up-item">
            <i class="flaticon-profile"></i>
            <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin</a>
        </div>
    }
    <div class="up-item">
        <i class="flaticon-profile"></i>
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">Logout</a>
    </div>
}
else
{
    <div class="up-item">
        <i class="flaticon-profile"></i>
        <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> or <a asp-area="Identity" asp-page="/Account/Register">Create Account</a>
    </div>
}