@model Category

@{
    ViewData["Title"] = "Изтрий Категория";
}

<div class="container mt-3 mb-3">
    <h1>Изтрий</h1>

    <h3>Наистина ли искате да изтриете тази категория?</h3>
    <div>
        <h4>'@Model.Title' Категория</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn btn-danger" /> |
            <a asp-action="Index">Върни се обратно</a>
        </form>
    </div>
</div>