@model IEnumerable<Category>

@{
    ViewData["Title"] = "Разгледай Категорийте";
}

<div class="container mt-3">
    <h2 class="text-center">Разгледай Категорийте</h2>
    <p>
        <a asp-action="Create">Създай Нова</a>
    </p>
    <table class="table table-striped">
        <thead class="table-head">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>