@model IEnumerable<ProductDefaultViewModel>

@{
    this.ViewData["Title"] = "Намерени Резултати";
}

<div class="container">
    <h3>Намерени резултати: @Model.Count()</h3>
    <div class="row mt-3">
        <partial name="/Views/Products/Partials/_ListProducts.cshtml" model="Model" />
    </div>
</div>