@model IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <h1>@this.ViewData["Title"]</h1>
    <a asp-area="@AreaConstants.Administration" asp-controller="Products" asp-action="Index">View All Products</a>
    <a asp-area="@AreaConstants.Administration" asp-controller="Categories" asp-action="Index">View All Categories</a>
</div>