@model CreateViewModel

@{
    ViewData["Title"] = "Създай Продукт";
}

<div class="container">
    <h1>Създай</h1>

    <h4>Продукт</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Images">Снимки на продукта</label>
                    <input type="file" multiple name="Images" class="form-control-file"
                           id="Images" aria-describedby="fileHelp">
                </div>
                <div class="form-group">
                    <label for="PreviewImage">Демо снимка на продукта</label>
                    <input type="file" name="PreviewImage" class="form-control-file"
                           id="PreviewImage" aria-describedby="fileHelp">
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories">Категории</label>
                    <select asp-for="Categories" class="form-control"
                            asp-items="Model.Categories" multiple=""></select>
                </div>
                <div class="form-group">
                    <label asp-for="Colors">Цветове</label>
                    <select asp-for="Colors" class="form-control"
                            asp-items="Model.Colors" multiple=""></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Създай" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Върни се обратно</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
