@model EditProductViewModel

@{
    ViewData["Title"] = "Промени";
}

<div class="container">
    <h1>Промени</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrWhiteSpace(Model.Product.PreviewImage))
                    {
                        <div>
                            <label asp-for="Product.PreviewImage"></label>
                            <img src="@Model.Product.PreviewImage" width="300" />
                            <button id="removePreviewImage" class="btn-warning">Изтрий Демо Снимката</button>
                        </div>
                    }
                    <br />
                    <input type="hidden" asp-for="Product.PreviewImage" class="form-control-file">
                    <label for="previewImageChange">Замени Демо Снимката</label>
                    <input type="file" name="previewImageChange" class="form-control-file"
                           id="previewImageChange" aria-describedby="fileHelp">
                </div>
                <div class="form-group">
                    <label>Текущи Снимки</label>
                    @foreach (var image in Model.Images)
                    {
                        if (!string.IsNullOrWhiteSpace(image))
                        {
                            <div>
                                <img src="@image" width="300" />
                                <button id="removeImage" class="btn-warning">Изтрий Снимката</button>
                            </div>
                        }
                    }
                    <br />
                    <input type="hidden" asp-for="Product.ImagesUrls" class="form-control-file">
                    <label for="addedImages">Добави Още Снимки</label>
                    <input type="file" multiple name="addedImages" class="form-control-file"
                           id="addedImages" aria-describedby="fileHelp">
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories">Категории</label>
                    <select name="selectedCategories" asp-for="SelectedCategories" class="form-control"
                            asp-items="Model.Categories" multiple=""></select>
                </div>
                <div class="form-group">
                    <label asp-for="Colors">Цветове</label>
                    <select name="selectedColors" asp-for="SelectedColors" class="form-control"
                            asp-items="Model.Colors" multiple=""></select>
                </div>
                <div class="form-group">
                    <label asp-for="Product.HasSize">Има Размери</label>
                    <input asp-for="Product.HasSize" class="form-control" />
                </div>
                <input type="hidden" asp-for="Product.Id" />
                <div class="form-group">
                    <label class="control-label">Създаден на: @Model.Product.CreatedOn</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Променен на: @Model.Product.ModifiedOn</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Запази" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Върни се обратно</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
