@model EditProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @foreach (var image in Model.Images)
                    {
                        if (!string.IsNullOrWhiteSpace(image))
                        {
                            <div>
                                <img src="@image" width="300" />
                                <button id="removeImage" class="btn-warning">Remove image</button>
                            </div>
                        }
                    }
                    <br />
                    <input type="hidden" asp-for="Product.ImagesUrls" class="form-control-file">
                    <label for="addedImages">Add More Images</label>
                    <input type="file" multiple name="addedImages" class="form-control-file"
                           id="addedImages" aria-describedby="fileHelp">
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories">Categories</label>
                    <select name="selectedCategories" asp-for="SelectedCategories" class="form-control"
                            asp-items="Model.Categories" multiple=""></select>
                </div>
                <input type="hidden" asp-for="Product.Id" />
                <div class="form-group">
                    <label class="control-label">Created On: @Model.Product.CreatedOn</label>
                </div>
                <div class="form-group">
                    <label class="control-label">Modified On: @Model.Product.ModifiedOn</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
