@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена Парола";
}

<div class="container p-3 custom-form">
    <h2 class="p-4">@ViewData["Title"]</h2>
    <div>
        <h4>Въведете вашият имейл</h4>
        <hr />
        <section>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-gray">Нулирай Паролата</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}