@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<div class="container p-3 custom-form">
    <h2 class="p-4">@ViewData["Title"]</h2>
    <div>
        <p>
            На имейл адресът ви е изпратено потвърждение за нулиране на паролата.
        </p>
    </div>
</div>