@model IndexViewModel
@{
    this.ViewData["Title"] = "Home";
}

<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>LATEST PRODUCTS</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.LatestProducts)
            {
                <partial name="/Views/Products/Partials/_Product.cshtml" model="product" />
            }
        </div>
    </div>
</section>

<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>BROWSE TOP SELLING PRODUCTS</h2>
        </div>
        <ul class="product-filter-menu">
            @foreach (var category in Model.Categories)
            {
                <li><a href="javascript:;" id="@category.Id" class="list-products">@category.Title.ToUpper()</a></li>
            }
        </ul>
        <div class="row" id="listed-products">
            <partial name="/Views/Products/Partials/_ListProducts.cshtml" model="Model.MostLikedProducts" />
        </div>
        <div class="text-center pt-5">
            <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/home.js"></script>
}