@model IndexViewModel
@{
    this.ViewData["Title"] = "Начало";
}

<div class="container">
    <img src="~/img/home-banner-desktop.jpg" style="width:inherit" />
</div>

<section class="top-letest-product-section mt-3">
    <div class="container">
        <div class="section-title">
            <h2>ПОСЛЕДНИ ПРОДУКТИ</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.LatestProducts)
            {
                <partial name="/Views/Products/Partials/_Product.cshtml" model="product" />
            }
        </div>
    </div>
</section>

<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>НАЙ-ПРОДАВАНИ ПРОДУКТИ</h2>
        </div>
        <ul class="product-filter-menu">
            @foreach (var category in Model.Categories)
            {
                <li><a href="javascript:;" id="@category.Id" class="list-products">@category.Title.ToUpper()</a></li>
            }
        </ul>
        <div class="row" id="listed-products">
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/home.js"></script>
}